<%- include("partials/header.ejs") %>

<main class="text-bg-dark">
  <div class="row pt-5 m-0">
    <div class="blogs-section container pt-5 pb-5">
      <% if (blogs.length > 0) { %>
        <h2 class="display-6 fw-bold px-5">Available Blogs</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4 px-5 mt-0">
          <% blogs.forEach(function(blogPost, index) { %>
            <div class="col">
              <div class="card text-bg-secondary border-info h-100 shadow-lg">
                <div class="card-body">
                  <h5 class="card-title fs-3 fw-bold"><%= blogPost.title %></h5>
                  <p class="card-text"><%= blogPost.content.slice(0, 200) %>...</p>
                </div>
                <div class="d-flex gap-2 p-3">
                  <form action="/load" method="POST">
                    <input type="hidden" name="id" value="<%= index %>">
                    <button type="submit" class="btn btn-warning mb-3">Update</button>
                  </form>
                  <form action="/delete" method="POST">
                    <input type="hidden" name="id" value="<%= index %>">
                    <button type="submit" class="btn btn-danger mb-3">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      <% } else { %>
        <h2 class="display-6 fw-bold px-5">No blogs found. <a href="/create">Write new blog?</a></h2>
      <% } %>
    </div>
  </div>
</main>
  
<%- include("partials/footer.ejs") %>
